.site-content{
	background-color: #404040 !important;
}
.well{
	background-color: #afafaf !important;
}
.post-inner-content{
	background-color: #afafaf !important;
}
#disqus_thread{
	background: #9f9f9f !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: #ffffff !important;
}
.rls-link a{
	padding: 0px !important;
}